@import '../colors';

.fa {
  &.fa-foreground {
    color: $foreground;
    &:hover,
    &.hover {
      color: $text-color;
    }
  }

  &.fa-background {
    color: $background;
    &:hover,
    &.hover {
      color: $text-color;
    }
  }

  &.fa-padding {
    padding-left: 1rem;
  }
}
