@import '../colors';

.footer {
  position: fixed;
  width: 100%;
  height: 3.5em;
  background-color: $foreground;
  margin: auto 0px;
  bottom: 0px;

  .row {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $background;

    &:hover,
    &:focus {
      color: $text-color;
    }
  }
}
