@import '../colors';
@import '../mixins';

$header-height: 80;

.header-content {
  text-align: center;
  color: $background;
}

.header {
  overflow: hidden;

  position: fixed;
  width: 100%;
  height: #{$header-height}px;

  margin: 0px auto;
  top: 0px;

  .row {
    background-color: $foreground;
    vertical-align: middle;

  }

  @include input-box($foreground, $background) {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: #{$header-height / 5}px;
  }

  i {
    margin-top: #{$header-height / 5}px;
    margin-right: 10px;
    vertical-align: middle;
  }

}
