@import '../colors';
@import '../mixins';

.header-content {
  text-align: center;
  color: $background;
}

.header {
  position: fixed;
  width: 100%;
  height: 5.0em;
  background-color: $foreground;
  margin: 0px auto;
  top: 0px;
}
