@import 'mixins';
@import 'variables';
@import 'colors';

.row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 0.3rem;

  @include status('border', 2px);

  &.no-wrap {
    flex-flow: column nowrap;
  }
}

// grid item
.col {
  padding: 0.5rem;

  &:nth-child(even) {
    background-color: adjust-hue($background, -5deg);
  }

  &:nth-child(odd) {
    background-color: adjust-hue($background, 5deg);
  }
}

// loop over the breakpoints
@each $key, $value in $breakpoints {
  @for $i from 1 through $items {
    .col-#{$key}-#{$i} {
      flex: 0 0 100%;
      @include break($key) {
        flex: 0 0 #{$i / $items * 100%};
      }
      @include status('border', 2px);
    }
  }
}
