@mixin break($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder           { @content }
  &::-moz-placeholder          { @content }
  &:-ms-input-placeholder      { @content }
}

@mixin input-line($background, $foreground) {
  .input-line {
    border: none;
    background-color: $background;
    border-bottom: solid 2px $foreground;
    padding: 10px;
    transition: border 0.3s;
    color: $foreground;

    @content

    @include placeholder {
      font-style: italic;
      color: $foreground;
    }

    &:focus,
    .focus {
      border-bottom: solid 2px $foreground;
      outline: none;
    }

    @include status('bottom-border', 2px);
  }
}

@mixin input-box($background, $foreground) {
  .input-box {
    border: solid 5px $foreground;
    background-color: $background;
    padding: 10px;
    transition: border 0.3s;
    color: $foreground;

    @content

    @include placeholder {
      font-style: italic;
      color: $foreground;
    }

    &:focus,
    &.focus {
      border-bottom: solid 2px $foreground;
      outline: none;
    }

    @include status('border-input', 5px);
  }
}

@mixin status($border, $size) {
  @if $border == 'border' or $border == 'border-input' {
    &.warning {
      border: solid $size $warning;
      @if $border == 'border-input' {
        &:focus,
        &.focus {
          transition: border 0.3s;
          border-bottom: solid 2px $warning;
        }
      }
      @content
    }

    &.success {
      border: solid $size $success;
      @if $border == 'border-input' {
        &:focus,
        &.focus {
          transition: border 0.3s;
          border-bottom: solid 2px $success;
        }
      }
      @content
    }

    &.error {
      border: solid $size $error;
      @if $border == 'border-input' {
        &:focus,
        &.focus {
          transition: border 0.3s;
          border-bottom: solid 2px $error;
        }
      }
      @content
    }
    &.info {
      border: solid $size $info;
      @if $border == 'border-input' {
        &:focus,
        &.focus {
          transition: border 0.3s;
          border-bottom: solid 2px $info;
        }
      }
      @content
    }
  }

  @if $border == 'bottom-border' {
    &.warning {
      border-bottom: solid $size $warning;
      @content
    }

    &.success {
      border-bottom: solid $size $success;
      @content
    }

    &.error {
      border-bottom: solid $size $error;
      @content
    }
    &.info {
      border-bottom: solid $size $error;
      @content
    }
  }
}

@mixin status-bg() {
  &.warning {
    background: $warning;
  }

  &.success {
    background: $success;
  }

  &.error {
    background: $error;
  }

  &.info {
    background: $info;
  }
}
