@import 'styles/grid';
@import 'styles/colors';
@import 'styles/components/header';
@import 'styles/components/footer';
@import 'styles/components/menu';

body {
  margin: 0px;
  height: 100%;
  background-color: $background;
}
