@import 'styles/grid';
@import 'styles/colors';
@import 'styles/components/header';
@import 'styles/components/footer';
@import 'styles/components/menu';
@import 'styles/components/containers';
@import url("http://fonts.googleapis.com/css?family=Raleway:400,700,800");

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  background-color: $background;
  font-family: 'Raleway', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100%;
}

main {
  height: 100%;
  text-align: center;
  background: $background;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
